.AddBug__form {
  @extend %form-shared;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0;
}

.flex-outer > li > label {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer li button {
  margin: 10px 10px;
  background-color: $background;
  width: 200px;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.flex-outer .form__button-group {
  justify-content: center;
}

.flex-outer li button:hover,
.flex-outer li button:focus {
  background-color: $buttonHoverColor;
  color: $textColor;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
}

input[type=text] {
  width: 370px;
}

.AddBug__form {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 800px;
  background-color: $backgroundItems;
}

.AddBug__form-steps {
  border: 1px solid black;
  border-radius:  5px;
  padding: 10px;
  margin-bottom: 10px;
}

.AddBug__form-textarea label {
  vertical-align: top;
}

.AddBug__form-textarea textarea {
  width: 300px;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}