html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.AddApplication__form, .AddBug__form, .registration-form, .login-form, .bug-form {
  text-align: center;
  margin: 0 auto;
}

.AddApplication__form .form__fields, .AddBug__form .form__fields, .registration-form .form__fields, .login-form .form__fields, .bug-form .form__fields {
  border: 1px solid black;
  padding: 10px;
}

.AddApplication__form .form__button-group, .AddBug__form .form__button-group, .registration-form .form__button-group, .login-form .form__button-group, .bug-form .form__button-group {
  margin-top: 20px;
}

.AddApplication__form .form__button, .AddBug__form .form__button, .registration-form .form__button, .login-form .form__button, .bug-form .form__button {
  margin-right: 10px;
}

.AddApplication__form .form__hint, .AddBug__form .form__hint, .registration-form .form__hint, .login-form .form__hint, .bug-form .form__hint {
  font-style: italic;
  font-size: .8rem;
}

.AddApplication__form .form__error, .AddBug__form .form__error, .registration-form .form__error, .login-form .form__error, .bug-form .form__error,
.AddApplication__form .form__required,
.AddBug__form .form__required,
.registration-form .form__required,
.login-form .form__required,
.bug-form .form__required {
  font-style: italic;
  font-size: .8rem;
  color: red;
}

.applications .button {
  margin: 20px auto;
  background-color: #F2F2F2;
  width: 200px;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.applications .button:hover,
.applications .button:focus {
  background-color: #CCD1D1;
  color: black;
  -webkit-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #F2F2F2;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  color: blue;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.section-page {
  text-align: center;
}

@media (max-width: 550px) {
  .section-page {
    margin-top: 50px;
  }
}

@media (min-width: 551px) {
  .section-page {
    margin-top: 75px;
  }
}

@media (min-width: 860px) {
  .section-page {
    margin-top: 110px;
  }
}

.toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #cccccc;
  padding: .5rem;
  margin-bottom: 20px;
}

.toolbar__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.toolbar__logo {
  margin-left: 1rem;
  max-width: 110px;
  height: auto;
}

.toolbar__logo a {
  color: black;
  text-decoration: none;
}

.spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.toolbar__navigation-items a {
  color: black;
  text-decoration: none;
}

.toolbar__navigation-items a:hover,
.toolbar__navigation-items a:active {
  color: blue;
}

.toolbar__navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toolbar__navigation-items li {
  padding: 0 0.5rem;
}

@media (max-width: 320px) {
  .toolbar__navigation-items {
    display: none;
  }
}

@media (min-width: 321px) {
  .toolbar__toggle-button {
    display: none;
  }
  .toolbar__logo {
    margin-left: 0;
    max-width: 230px;
  }
}

.side-drawer {
  height: 100%;
  background: white;
  -webkit-box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-drawer a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer li {
  margin: 0.5rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: blue;
}

.side-drawer.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 321px) {
  .side-drawer {
    display: none;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.toggle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 25px;
  height: 2px;
  background: white;
}

.applications-list__name {
  font-size: 1.2rem;
  font-weight: 600;
}

.registration-form {
  width: 300px;
}

.login-form {
  width: 300px;
}
/*# sourceMappingURL=Bedbugs.css.map */