$background: #F2F2F2;
$backgroundToolbar: silver;
$backgroundSideDrawer: white;
$backgroundItems: lightgray;

$textColor: black;
$textHoverColor: blue;
$linkColor: blue;
$accentColor: darkgreen;

$buttonHoverColor: blue;
$buttonTextHoverColor: lightgray;