.bugs {
  @extend %buttons-shared;
}

.bugs ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.bugs li {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 40px;
  max-width: 800px;
  background: $backgroundItems;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
}

.bugs-list__details-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.bugs-list__details-row div {
  margin: 0 10px;
}

.bugs-list__name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 20px;
  color: $accentColor;
}